@(webJarAssets: WebJarAssets, requireJS: org.webjars.play.RequireJS)

<!DOCTYPE html>
<html>
    <head>
        <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.fullPath("react", "react.js"))'></script>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
    </head>
    <body>
        <div id="app"></div>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/bundle.js")'></script>
    </body>
</html>